@model CurrencyExchange.Web.Models.ExchangeRequestViewModel
@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ClientName)

        @Html.EditorFor(model => model.ClientName)

        @Html.ValidationMessageFor(model => model.ClientName)
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.PersonalNumber)

        @Html.EditorFor(model => model.PersonalNumber)

        @Html.ValidationMessageFor(model => model.PersonalNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OriginCurrency)

        @Html.DropDownListFor(model => model.OriginCurrency, ViewBag.Currencies as SelectList)

        @Html.ValidationMessageFor(model => model.OriginCurrency)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DestinationCurrency)

        @Html.DropDownListFor(model => model.DestinationCurrency, ViewBag.Currencies as SelectList)

        @Html.ValidationMessageFor(model => model.DestinationCurrency)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount)

        @Html.EditorFor(model => model.Amount)

        @Html.ValidationMessageFor(model => model.Amount)
    </div>

    <div class="form-group">
        <input type="submit" />
    </div>
}


@if(ViewBag.exchanged != null) {
      <p>Result: @ViewBag.exchanged</p>

}